
### venv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
pyvenv.cfg
.env
.venv
env/
venv/
Excel/
ENV/
scraper/
env.bak/
venv.bak/
pip-selfcheck.json
*.json
*.vscode
__pycache__
*.python-version
formdatatomysql-34eddc3281d3.json